.userIndex{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: auto;
    padding: 2em;
    justify-content: center;
    align-items: center;
    background: $primary-color;
   
    .userList{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    } 

    li{
        margin: 1em;
        text-align: center;
    }
    a{
        color: $secondary-color;
    }

    img{
        height: 200px;
        margin: 1em;
        border-radius: 50%;
    }
}

a:hover{
    color: $hover-color;
}